{{>partials/header}}

<section class="login-background">
    <div class="login-box">
        <form>
            <div>
                <label class="titulo-login">Login</label>
                <input>
                <label class="titulo-login">Senha</label>
                <input>
            </div>
            <div>
                <p class="login-singIn">Ainda não tem cadastro? <a href="signIn">Clique Aqui</a></p>
                <a class="login-forgetPassword" href="passwordRecover">Esqueci minha senha</a>
            </div>
            <div class="div-btn-entrar">
                <button class="btn-entrar">Entrar</button>
            </div>
        </form>
    </div>
</section>

{{>partials/footer}}