<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio - {{ subtitle }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>
<body>
    <div class="grid-topo">
        <header>
            <h1>Meu Portifólio</h1>
        </header>
        <nav>
            <div class="grid-topo-nav">
                <div class="item-nav about-nav">
                    <a class="item-nav-a about-nav">Sobre Mim</a>
                </div>
                <div class="item-nav know-nav">
                    <a class="item-nav-a know-nav">Conhecimentos</a>
                </div>
                <div class="item-nav">
                    <a class="item-nav-a">Git</a>
                </div>
                <div class="item-nav">
                    <a class="item-nav-a">Linkedin</a>
                </div>
                <div class="item-nav">
                    <a class="item-nav-a">Login</a>
                </div>
            </div>
        </nav>
    </div>
    


